
body{}

.about-me{
	height: 320px;
}

.about-me .card-title{
	padding: 12px;
}

#passions{
	margin-top: 24px;
}

.whatido-details{
	margin-top: 16px;
}

.fadeInDown {
    animation-name: fadeInDown;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
.about-me {
  text-align: center;
}

